<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TSavaari</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.fininfocom.tSavaari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>t_savaari_v3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Voice Search</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Voice Search</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Camera Permission -->
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to upload your profile picture.</string>

    <!-- Photo Library Permission -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to upload your profile picture.</string>

	<!-- Face ID Permission -->
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to secure your data.</string>

    <!-- Google AdMob Permission -->
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-7803524990965980~7142948296</string>

	<!-- Location Permissions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to location to show nearby services and track your ride.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs access to location to show nearby services, track your ride, and provide navigation even when the app is in background.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to location to show nearby services, track your ride, and provide navigation even when the app is in background.</string>
    
	<!-- Microphone Permission (Optional if required for voice notes or calls) -->
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for voice inputs or in-app calls.</string>

    <!-- Push Notifications -->
	<key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
	<!-- Cash free Payment Gateway -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>phonepe</string>
		<string>tez</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>credpay</string>
	</array>
</dict>
</plist>
